SECRET_KEY='your_secret_key'
DEBUG=True
DATABASE_URL=your_db_url
HOST_DJANGO_DOMAIN=your_django_domain
HOST_REACT_DOMAIN=your_react_domain
EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER='your_email'
EMAIL_HOST_PASSWORD='your_email_password'